@tailwind base;
@tailwind components;
@tailwind utilities;

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.active-link {
  position: relative;
}
.active-link::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 15px;
  height: 4px;
  left: 50%;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: #e61c5d;
}
